.button {
  background-color: #f4bc29;
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  border-radius: 18px;
  padding: 20px;
  width: fit-content;
  margin: 10px 0;
  text-decoration: none;
  font-size: 1.3rem;
}

.donate {
  text-decoration: none;
}

.button:active {
  background-color: #404040;
  color: #f4bc29;
  border: 2px solid #f4bc29;
}

.donate {
  height: fit-content;
  margin: 0 1em;
  padding: 8px;
  font-size: 1.3rem;
  border-radius: 18px;
  background-color: #f4bc29;
  color: #404040;
}

@media screen and (width >= 800px) {
  .button {
    margin: 0 1rem 0 0;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(244, 188, 41, 0.5);
    }
    100% {
      box-shadow: 0 0 0 16px rgba(244, 188, 41, 0);
    }
  }
  .button:hover {
    animation: pulse 1s ease-out;
    box-shadow: 0 0 20px rgba(244, 188, 41, 0.5);
  }

  .donate {
    background-color: #f9f7f6;
    height: 50% !important;
  }
  .donate:hover {
    color: #f9f7f6;
    background-color: #404040 !important;
  }

  .donate:active {
    background-color: #404040;
    color: #f4bc29;
    border: 2px solid #f9f7f6;
  }
}
