.card {
  border-radius: 18px;
  padding: 10%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (width >= 800px) {
  .card {
    border-radius: 18px;
    padding: 3rem;
    margin: 20rem;
    margin-top: auto;
    margin-bottom: 3rem;
  }
}
