.hero {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h1 {
    font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
    margin: 10;
  }
  
  h2 {
    font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
    margin: 0;
  }
}

@media screen and (width >= 800px) {
    .hero {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  align-items: flex-start;

    h1 {
      font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
      margin: 10;
      flex-basis: 100%;
    }
    
    h2 {
      font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
      margin: 0;
      flex-basis: 100%;
    }
  }
}