.hero {
  box-sizing: border-box;
  padding: 2rem;
  display: block;
  text-align: start;
  background-image:
    linear-gradient(rgba(64, 64, 64, 0.2), rgba(64, 64, 64, 0.5)),
    url("../images/chickens-000.jpg");
  background-size: cover;
  background-position: 75%;
  background-blend-mode: multiply;
  min-height: 100vh;
  background-repeat: no-repeat;
  justify-content: space-evenly;

  h1 {
    font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-align: start;
    font-size: 2rem;
    max-width: 100vw;
    margin-bottom: 3rem;
  }

  h2 {
    font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
    margin: 10px;
    margin-bottom: 3rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 0;
  }
}

@media screen and (width >= 800px) {
  .hero {
    box-sizing: border-box;
    padding: 5rem 5rem;
    display: block;
    text-align: start;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    min-height: unset;

    h1 {
      font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
      margin: 10;
      flex-basis: 100%;
      font-size: 3em;
      max-width: 50vw;
    }

    h2 {
      font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
      margin: 10px;
      flex-basis: 100%;
      max-width: 50vw;
    }

    .hero-buttons {
      flex-direction: row;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
