.intro {
  margin: 0 0 1rem 0;
  p {
    margin: 0;
    padding: 2rem;
  }
  #decorative-image {
    margin: 0 0 0 2rem;
  }

  #decorative-image {
    background-image: url("../images/robotarm-000.jpeg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 0 0 0 20%;
  }
}

@media screen and (width >= 800px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    p {
      grid-column: span 3;
    }
  }
}
