@import url("./loader.css");

body {
  margin: 0;
  min-height: 100dvh;

  /* 1. Turn body into a flexbox container */
  display: flex;
  width: 100dvw;

  /* 2. Stack children vertically instead of horizontally */
  flex-direction: column;
}

main {
  /* 3. Force the main section to grow and consume all empty space */
  flex-grow: 1;
}

.rethink-sans-fontone {
  font-style: normal;
  font-weight: 400;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
}

.league-spartan-fonttwo {
  font-style: normal;
  font-weight: 400;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --loader-main-color: #f4bc29;
}

.bg-eggyolk-text-darkgrey {
  background-color: #f4bc29;
  color: #404040;
}

.bg-destiny-text-darkgrey {
  background-color: #f8e8bf;
  color: #404040;
}

.bg-darkgrey-text-almost-white {
  background-color: #404040;
  color: #f9f7f6;
}

.bg-platinum-text-darkgrey {
  background-color: #e5e3e2;
  color: #404040;
}

.bg-almost-white-text-darkgrey {
  background-color: #f9f7f6;
  color: #404040;
}
.main-section {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.title {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
}
.body-text {
  font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
}

@media screen and (width >= 800px) {
  .main-section {
    font-size: 1.5rem;
  }
}
