@import url("./loader.css");

body {
  margin: 0;
  min-height: 100dvh;

  /* 1. Turn body into a flexbox container */
  display: flex;

  /* 2. Stack children vertically instead of horizontally */
  flex-direction: column;
}

main {
  /* 3. Force the main section to grow and consume all empty space */
  flex-grow: 1;
}

.rethink-sans-fontone {
  font-style: normal;
  font-weight: 400;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
}

.league-spartan-fonttwo {
  font-style: normal;
  font-weight: 400;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --loader-main-color: #f4bc29;
}

.bg-eggyolk-text-darkgrey {
  background-color: #f4bc29;
  color: #404040;
}

.bg-destiny-text-darkgrey {
  background-color: #f8e8bf;
  color: #404040;
}

.bg-darkgrey-text-almost-white {
  background-color: #404040;
  color: #f9f7f6;
}

.bg-platinum-text-darkgrey {
  background-color: #e5e3e2;
  color: #404040;
}

.bg-almost-white-text-darkgrey {
  background-color: #f9f7f6;
  color: #404040;
}

.button {
  background-color: #f4bc29;
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  color: #404040;
  border-radius: 30px;
  font-weight: bold;
  padding: 20px;
}

a.button {
  text-decoration: none;
}

.card {
  border-radius: 18px;
  padding: 20%;
}

.title {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
}

.body-text {
  font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  font-family: "Rethink Sans", Georgia, "Times New Roman", Times, serif;
}

nav {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: end;
  background-color: #f4bc29;
}

nav ul {
  position: absolute;
  top: 100%;
  display: none;
  width: 90%;
  margin: 0;
  font-size: 1rem;
  list-style: none;
  list-style-type: none;
  background-color: #f9f7f6;
  border-radius: 0 0 20px 20px;
}

nav ul li {
  border-top: 1px solid #404040;
}

nav ul li:first-child {
  border-top: none;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #404040;
  text-decoration: none;
}

.donate {
  height: fit-content;
  margin: 0 1em;
  padding: 8px;
  font-size: 1rem;
  border-radius: 18px;
  background-color: #f9f7f6;
  border: 03px solid #404040;
}

.donate:hover {
  color: #f9f7f6;
  background-color: #404040;
}

.burger {
  margin: 0 0.5em;
  color: #f9f7f6;
  font-size: 1.5rem;
  background-color: #404040;
  border: 0;
  border-radius: 12px;
}

.company-info {
  padding: 1rem;
  background-color: #f4bc29;
}

.legal-info {
  padding: 1rem;
  background-color: #e5e3e2;
}

.legal-info p {
  margin: 0;
  font-size: 0.6rem;
}

#language-selector {
  color: #404040;
  font-size: 1rem;
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e5e3e2;
  border: none;
}

@media screen and (width >= 800px) {
  .burger {
    display: none;
  }

  nav {
    align-items: center;
  }

  nav ul {
    position: relative;
    top: 0;
    display: flex;
    width: fit-content;
    height: 100%;
    background-color: #f4bc29;
  }

  nav ul li {
    height: 100%;
    border-top: none;
  }

  nav ul li a {
    height: 100%;
    padding: 0 1em;
    align-content: center;
  }

  nav ul li a:hover {
    background-color: #f9f7f6;
  }

  .company-info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .company-info > * {
    width: fit-content;
    height: fit-content;
  }

  .contact-info {
    justify-self: end;
  }

  .company-info > select {
    justify-self: end;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#stats {
  figcaption {
    width: 100%;
  }
}

.stats-card {
  * {
    box-sizing: border-box;
  }

  .image {
    /* position: absolute; */
    /* z-index: 1; */

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 18px;
      margin-bottom: -2em;
      /* min-height: 400px; */
    }
  }

  .content {
    width: 100%;
    background-color: gray;
    border-radius: 18px;
    padding: 2em;
    padding-top: 4em;
    /* z-index: 1; */
    /* position: absolute; */
  }
}

@media screen and (width < 800px) {
  .stats-card .image img {
    margin-bottom: -4em;
    margin-left: -2em;
    /* width: 80%; */
  }
}
