nav {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: end;
  background-color: #f4bc29;
}

nav ul {
  position: absolute;
  top: 100%;
  display: none;
  width: 90%;
  margin: 0;
  font-size: 1rem;
  list-style: none;
  list-style-type: none;
  background-color: #f9f7f6;
  border-radius: 0 0 20px 20px;
}

nav ul li {
  border-top: 1px solid #404040;
}

nav ul li:first-child {
  border-top: none;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #404040;
  text-decoration: none;
}

@media screen and (width >= 800px) {
    nav {
    align-items: center;
  }

  nav ul {
    position: relative;
    top: 0;
    display: flex;
    width: fit-content;
    height: 100%;
    background-color: #f4bc29;
  }

  nav ul li {
    height: 100%;
    border-top: none;
  }

  nav ul li a {
    height: 100%;
    padding: 0 1em;
    align-content: center;
  }

  nav ul li a:hover {
    background-color: #f9f7f6;
  }
}