nav {
  position: relative;
  display: flex;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  background-color: #f4bc29;
  padding: 0 2rem;
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 6%;
  display: none;
  width: 90%;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  list-style-type: none;
  background-color: #f9f7f6;
  border-radius: 0 0 20px 20px;
  padding: 0;
}

.nav-links li {
  border-top: 1px solid #404040;
  display: flex;
  align-items: center;
}

.nav-links li:has(> .donate) {
  background-color: #f4bc29;
}

.nav-links li:active {
  background-color: #f4bc29;
}

.nav-links li:first-child {
  border-top: none;
}

.nav-links li a {
  display: block;
  padding: 1rem;
  color: #404040;
  text-decoration: none;
}

.logo img {
  width: 200px;
}

.logo img:hover {
  cursor: pointer;
}

#language-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 20px;
  margin: 0 24px;
  color: #404040;
  font-size: 1.4rem;
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9f7f6;
  border: none;
}

#language-selector:active {
  border: none;
}

@media screen and (width >= 800px) {
  nav {
    align-items: center;
    padding: 0 5rem;
  }

  .nav-links {
    position: relative;
    top: 0;
    display: flex;
    width: fit-content;
    height: 100%;
    background-color: #f4bc29;
  }

  .nav-links li {
    height: 100%;
    border-top: none;
    align-content: center;
  }

  .nav-links li a {
    height: 100%;
    padding: 0 1em;
    align-content: center;
  }

  .nav-links li a:hover {
    background-color: #f9f7f6;
  }

  #language-selector {
    background-color: #f4bc29;
    border: 2px solid #f9f7f6;
  }
}

.nav-subcontainer {
  display: flex;
  align-items: center;
  height: 100%;
}
