.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10px;

  * {
    box-sizing: border-box;
  }
}
.stats-card {
  display: flex;
  flex-direction: column;
  background-color: #e5e3e2;
  align-items: center;
  border-radius: 18px;
  overflow: hidden;
  margin: 50px 0;
  max-width: 300px;
  flex-basis: 100%;

  * {
    max-width: 80%;
  }

  img {
    object-fit: contain;
    max-width: 90%;
    margin: 10px;
    border-radius: 18px 18px 0 0;
  }
}

.centered {
  margin: 20px;
}

@media screen and (width >= 800px) {
  .stats {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin: 0;
    justify-content: center;
    gap: 80px;
    * {
      justify-content: space-evenly;
    }

    .stats-card {
      margin: 100px 0;
      justify-content: flex-start;
    }
  }
  .centered {
    text-align: center;
    grid-column: 2;
  }
}
